<!-- <h2>{{ hero.name | uppercase }} Details</h2>
<div>
    <label for="name"> Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name" (change)="onChange($event)">
</div> -->
<!-- <h2>selected hero</h2>
<ul *ngFor="let hero of selectedArrayHero">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)"></button>
    <li *ngIf="hero">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name| uppercase}}</span>
    </li>
</ul> -->


<h2>My heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name| uppercase}}</span>
        </button>
       
    </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

